body {
  font-family: "Montserrat";
}

.carousel-item {
  padding: 7% 15%;
}

.container {
  padding: 0 50px;
}

#title {
  background-color: #ff4c68;
  position: relative;
}

.container-fluid {
  padding: 3% 15% 15%;
  position: relative;
}

h1 {
  margin-top: 50px;
  margin-bottom: 30px;
  font-family: "Montserrat-black";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
  color: white;
}

h2 {
  font-family: "Montserrat-bold";
  font-size: 3rem;
  line-height: 1.5;
}

#FirstButton {
  margin-right: 15px;
}

/* NavigationBar */
.navbar {
  padding-left: 0;
}

.navbar-brand {
  font-size: 2rem;
  font-family: "Ubuntu";
}

.rotateimg30 {
  transform: rotate(25deg);
  margin-top: 45px;
  width: 60%;
  position: absolute;
  right: 25%;
}

.nav-item {
  padding: 0 20px 0 20px;
}

.nav-link {
  font-family: "Montserrat-light";
  font-size: 1.2rem;
}

#features {
  padding: 7% 15%;
  text-align: center;
  background-color: #ffffff;
  position: relative;
  /* z-index: 1; */
}

.icons {
  font-size: 3em !important;
  color: #ef8172;
  margin-bottom: 20px;
}

.icons:hover {
  color: #ff4c68;
}

.text {
  color: #8f8f8f;
}

/* Testimonial Section */
#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #ffffff;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

#pricing {
  padding: 100px;
  text-align: center;
}

.pricing-column {
  padding: 3% 2%;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .rotateimg30 {
    position: static;
    transform: rotate(0);
  }
}

#cta{
  background-color: #ff4c68;
  text-align: center;
}

.ctah3{
  margin-top: 50px;
  margin-bottom: 30px;
  padding: 50px;
  font-family: "Montserrat-black";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bold;
  color: white;
  text-align: center;
}

.ctab1{
  margin: 0 30px 100px 0;
}
.ctab2{
  margin: 0 0 100px 30px;
}

#footer{
  text-align: center;
  padding: 100px 0 50px 0;
}

#cp{
  padding-top: 10px;
  color: grey;
}

.fa-twitter{
  margin-right: 10px;
}
.fa-facebook-f{
  margin-right: 10px;
}
.fa-instagram{
  margin-right: 10px;
}
